.section_theme-blue{
    background-color:$color__main;
    color: $color__white;
    width: 100%;
    p{
        color: $color__white;
    }
    h3{
        position: relative;
        font-weight: bolder;
        font-family: Poppins,sans-serif;
        color: $color__white;
        span{
            color: $color__secondary;
        }
    }
    
    
    ul{
        li{
            color: $color__white;
           }
          }
    }
    
.section__theme-white{
    background-color: $color__white;
   
        h3{
            position: relative;
            font-weight: bolder;
            font-family: Poppins,sans-serif;
            color: #000;
            span{
                color: $color__secondary;
            }
        }
    
 }   