//line
.line {
    
    border-bottom: 3px solid #E5E5E5;
    width: 15%;
    margin-left:43%;
    
    &::after{

    content: '';
    display: block;
    border-bottom: 3px solid $color__secondary;
    margin-bottom: -8px;
    max-width: 30px; 
    margin-left: 50%;
    }
    
   
}
.title__line{
   background-color: $color__secondary;
    width: 15%;
    height: 6px;
    

}
