.section__type-services{

 & .service__type-content{
    margin:10px 100px;
 }   
 & .icon-container{
    img{
        padding: 25px;
        position: relative;
        
     }

   
    background-color:$color__white;
    border-radius: 100%;
    width: 105px;
    height: 105px;
    border:4px solid $color__secondary;
    transition: .3s;
   
    &:hover{
        box-shadow: 0 0 0 4px $color__secondary;
        color:$color__secondary;
       
    }
 p{
        font-family: Poppins,sans-serif;
        font-weight: bold;
        font-size: 12px;

     }
    
}}
@media only screen and (max-width: 600px) {
   .section__type-services{ 

          & .icon-container{
               margin-bottom: 60px; 
            &:hover{
                  box-shadow: 0 0 0 4px $color__secondary;
                  color:$color__secondary;
                 
              }
            }}}