.section__type-Boynton{
   & .Boynton__type-replacment{
       margin: 0px 10px;
      & .replacment__type-information{
          h3{
              span{
                  color: $color__secondary;
              }
          }
          padding: 80px;
          font-size: 20px;
            ul{
                li{
                    font-size: 15px;
                    i{
                        color: $color__secondary;
                    }
                }
            }
}
}
 & .Boynton__type-repair{
    h3{
        span{
            color: $color__secondary;
        }
    }
    background-color: $color__main;
    margin: 0px 0px;
    padding: 80px;
    font-size: 25px;
    ul{
        li{
            font-size: 15px;
           
            i{
                color: $color__secondary;
            }
        }
    }

   }
}